@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

body {
    background-color: #8D86C9;
    color: #EBEBEB;
    font-family: "Inter", sans-serif;
}

section {
    margin: 2% 3%;
    background-color: #2A2E45;
    border-radius: 70px;
    padding: 1% 4%;
    display: flex;
}

section.header {
    margin: 2% 6%;
    justify-content: space-evenly;
    align-items: center;
}

span {
    display: flex;
    flex-wrap: wrap;
}

h2{
    font-size: 2em;
}

a{
    font-size: 2em;
}

h3{
    font-size: 1.75em;
    margin: 0 3% 0 0;
}

div {
    display: table;
    border: solid 1px;
}

.active {
    border-color: #2F97C1;
}

p {
    border: solid 1px;
    display: table-caption;
    caption-side: bottom;
    text-wrap: wrap;
    margin-block: 0 0;
}